header {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 0px !important;
    margin-top: 0px;

}

#meat {
    display: flex;
}


#formDIv {
    margin-bottom: 20px;
    margin-top: 12px;
}

#taskNameLable {
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 38px;
}

#taskName {
    margin-bottom: 0px;
}

#taskPriority {
    padding-top: 0px;
}

#taskDetailsLable {
    padding-top: 0px;
}

#details {
    padding-top: 0px;
    margin-top: 2px;
    line-height: 42px;
    
}

#dateLable {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 22px;
}

#date {
    margin-bottom: 0px;
}

#timeLable {
    padding-top: 0px;
    margin-bottom: 0px;
}

.background {
    background-image: url(https://wallpapers.com/images/hd/bulletin-board-background-1600-x-1200-1ohnx4m90qij6ks1.jpg);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.lines {
    background: #fff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0 20px / 100% 40px;
    padding-right: 5px;
}

.my_Task {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

input {
    background: none;
    border: none;
    width: 510px;
    height: 30px;
    margin-left: 55px;
    font-size: medium;
    margin-bottom: 17px;
}

textarea {
    background: none;
    border: none;
    width: 510px;
    height: 92px;
    padding-left: 0px;
    padding-top: 30px;
    margin-left: 55px;
    font-size: medium;
}

label {
    background: none;
    border: none;
    width: 510px;
    height: 10px;
    padding-left: 55px;
    padding-top: 35px;
    color: #333;
    font-size: large;
}

.save {
    margin-left: 55px;
    margin-right: 10px;
    
}

.form__contact {
    max-width: 600px;
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-right: 20px;
    border-left: 30px solid white;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
    border-image-width: 0px 0px 0px 30px;
    margin-top: 10px;
}

fieldset {
    position: relative;
    margin: 0;
    padding: 30px 30px line-height 80px;
    border: none;
    border-radius: 0 20px 20px 0;
    font: 24px 'Shadows Into Light', cursive;
    background: #fff linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 0) 0 20px / 100%;
    line-height: 1.66;

    &::after {
        position: absolute;
        top: 0;
        left: 50px;
        content: '';
        height: 100%;
        width: 1px;
        border-left: double #E08183;
    }

}